llama_index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-ollama
chromadb
datasets
git+https://github.com/openai/CLIP.git
fastapi
# raft installation datasets openai PyPDF2 transformers langchain_experimental langchain_openai python-dotenv pyyaml coloredlogs mdc pytest
